<%- include("./partials/header")%>
<div class="ui main text container segment">
	<div class="ui huge header"><%= result.title%></div>
<!-- segment will put border around things	 -->
	<div class="ui top attached">
		<div class="item">
			<img class="ui centered rounded image" src="<%= result.image%>">
			<div class="content">
				<span><%=result.created.toDateString()%></span>
			</div>
			<div class="description">
				<p><%- result.body %></p>
			</div>
			<a class="ui orange basic button" href="/blogs/<%= result._id %>/edit">Edit</a>
			<form id="delete" action="/blogs/<%= result._id %>?_method=DELETE" method="POST">
				<button class="ui red basic button">
					DELETE
				</button>
			</form>
		</div>
	</div>
</div>

	
<%- include("./partials/footer")%>